/* === RESET BASE === */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--text-dark);
}

img,
video,
canvas,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}


.theme-light {
  --text-light: white;
  --background: rgb(243, 243, 243);
}

.theme-dark {
  --text-dark: white;
  --background: rgb(43, 43, 43);
}

.theme-light .sbdocs-preview,
.theme-dark .sbdocs-preview {
  background-color: var(--background);
  color: var(--text-dark);
}
