/* === RESET BASE === */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--text-dark);
}

img,
video,
canvas,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}


.theme-light body {
  --green: var(--green-6);
  --beige: var(--beige-7);
  --brown: var(--brown-6);
  --text-dark: var(--brown-8);
  --text-light: white;
  --background: rgb(243, 243, 243);
  --accent: var(--green-6);
  --shadow: 4px 4px 8px rgba(19, 19, 19, 0.425);
}

.theme-dark body {
  --green: var(--green-2);
  --beige: var(--beige-4);
  --brown: var(--brown-6);
  --text-dark: white;
  --text-light: black;
  --background: rgb(43, 43, 43);
  --accent: var(--green-4);
  --shadow: 4px 4px 12px rgba(155, 155, 155, 0.39);
}


/* === STORYBOOK SUPPORT === */
.theme-light body,
.theme-light #storybook-root {
  background-color: var(--background);
  color: var(--text-dark);
}

.theme-dark body,
.theme-dark #storybook-root {
  background-color: var(--background);
  color: var(--text-dark);
}

.theme-light .sbdocs-preview,
.theme-dark .sbdocs-preview {
  background-color: var(--background);
  color: var(--text-dark);
}
